@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS variables for color consistency */
:root {
  --background: theme(colors.background);
  --foreground: theme(colors.foreground);
  --primary: theme(colors.primary);
  --secondary: theme(colors.secondary);
  --font-sans: theme(fontFamily.sans);
  --font-mono: theme(fontFamily.mono);
}

/* Dark Mode Support */
@media (prefers-color-scheme: dark) {
  :root {
    --background: theme(colors.dark);
    --foreground: theme(colors.light);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}